html {
    background-color: #f2f2f2; /* Gris clair */
    margin: 0;
    padding: 0;
}

/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    padding: 1rem;
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

/* Style pour le titre principal */
h1 {
    color: #003f5c; /* bleu foncé */
    position: relative;
    font-size: 2.75rem;
    text-align: center;
}
h1::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    right: 0;
    height: 0.05em;
    background-color: #9eb6d7;
}

/* Style pour le titre secondaire */
h2 {
    font-size: 2.25rem;
    color: #2f4b7c;
    position: relative;
}
h2::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    right: 0;
    height: 0.025em;
    background-color: #a5b6c4;
}

h3 {
    font-size: 1.75rem;
    color: #665191;
}

h4 {
    font-size: 1.5rem;
    color: #665191;
}

h5 {
    font-size: 1.3rem;
    color: #665191;
}

/* Style pour le paragraphe */
p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Style pour le texte en gras */
strong {
color: #800000;
}

/* Style pour le texte en italique */
i {
font-style: italic;
color: darkblue;
}

/* Style pour les images */
img {
    max-width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
}

blockquote {
    font-style: italic;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
    border-left: 4px solid #ccc;
}

/* Style pour le code en ligne */
code {
    font-family: "Courier New", monospace;
    font-size: 1.1rem;
    background-color: #f9f9f9;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
}

/* Style pour le code en bloc */
pre {
    font-family: "Courier New", monospace;
    font-size: 1.1rem;
    background-color: #f9f9f9;
    padding: 1rem;
    white-space: pre-wrap;
}

/* Style pour les liens */
a {
    color: #007bff;
    text-decoration: none;
}

/* Style pour les liens visités */
a:visited {
    color: #6610f2;
}

/* Style pour les titres de liens */
a:hover, a:focus {
    color: #007bff;
    text-decoration: underline;
}

/* Style pour les listes */
ul, ol {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

    table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Style pour les éléments <details> */
details {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Style pour les éléments <summary> */
summary {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 0;
    list-style: none;
}

/* Ajoute une flèche à côté de <summary> lorsque <details> est ouvert */
details[open] summary::before {
    content: '▾';
    padding-right: 10px;
}

/* Ajoute une flèche à côté de <summary> lorsque <details> est fermé */
details summary::before {
    content: '▸';
    padding-right: 10px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media query pour les téléphones */
@media only screen and (max-width: 600px) {
    body {
        padding: 0.5rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.37rem;
    }

    h4 {
        font-size: 1.23rem;
    }

    h5 {
        font-size: 1.10rem;
    }

    h6 {
        font-size: 1.05rem;
    }

    p {
        font-size: 1rem;
    }
    
    ul, ol {
        font-size: 1rem; /* Nouvelle taille de police pour les listes sur les téléphones */
    }

    img {
        max-width: 100%;
    }
}
