html {
    background-color: #444; /* Gris clair */
    margin: 0;
    padding: 0;
}

/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    padding: 1rem;
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    background-color: #222;
    color: #fff;
}

/* Style for the main title */
h1 {
    color: #ff7f50; /* coral */
    position: relative;
    font-size: 2.75rem;
    text-align: center;
}
h1::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    right: 0;
    height: 0.05em;
    background-color: #e8a87c; /* light coral */
}

/* Style for the secondary title */
h2 {
    font-size: 2.25rem;
    color: #ffa07a; /* light salmon */
    position: relative;
}
h2::before {
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    right: 0;
    height: 0.025em;
    background-color: #f0b7a4; /* light salmon pink */
}

h3 {
    font-size: 1.75rem;
    color: #f5deb3; /* wheat */
}

h4 {
    font-size: 1.5rem;
    color: #f5deb3; /* wheat */
}

h5 {
    font-size: 1.3rem;
    color: #f5deb3; /* wheat */
}

/* Style for the paragraph */
p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Style for bold text */
strong {
    color: #ffa07a; /* light salmon */
}

/* Style for italic text */
i {
    font-style: italic;
    color: #ffb6c1; /* light pink */
}

/* Style for images */
img {
    max-width: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    display: block;
    margin: auto;
}

/* Style for the blockquote */
blockquote {
    font-style: italic;
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #555;
    border-left: 4px solid #fff;
    color: #fff;
}

/* Style for inline code */
code {
    font-family: "Courier New", monospace;
    font-size: 1.1rem;
    background-color: #555;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    color: #fff;
}

/* Style pour le code en bloc */
pre {
    font-family: "Courier New", monospace;
    font-size: 1.1rem;
    background-color: #2b2b2b;
    color: #dcdcdc;
    padding: 1rem;
    white-space: pre-wrap;
}

/* Style pour les liens */
a {
    color: #beddff;
    text-decoration: none;
}

/* Style pour les liens visités */
a:visited {
    color: #ddbeff;
}

/* Style pour les titres de liens */
a:hover, a:focus {
    color: #b1beff;
    text-decoration: underline;
}

/* Style pour les listes */
ul, ol {
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #dcdcdc;
}

table {
border-collapse: collapse;
width: 50%;
background-color: #444;
color: #fff;
}

th, td {
border: 1px solid #ddd;
text-align: left;
padding: 8px;
}

th {
background-color: #333;
}

tr:nth-child(even) {
background-color: #333;
}

tr:hover {
background-color: #555;
}

/* Style pour les éléments <details> */
details {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #666;
    border-radius: 2px;
    background-color: #2e2e2e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* Theme sombre - Style pour les éléments <summary> */
summary {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ddd;
    padding: 0.2rem 0;
    list-style: none;
}

/* Theme sombre - Ajoute une flèche à côté de <summary> lorsque <details> est ouvert */
details[open] summary::before {
    content: '▾';
    color: #ccc;
    padding-right: 10px;
}

/* Theme sombre - Ajoute une flèche à côté de <summary> lorsque <details> est fermé */
details summary::before {
    content: '▸';
    color: #ccc;
    padding-right: 10px;
}


.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media query pour les téléphones */
@media only screen and (max-width: 600px) {
    body {
        padding: 0.5rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.37rem;
    }

    h4 {
        font-size: 1.23rem;
    }

    h5 {
        font-size: 1.10rem;
    }

    h6 {
        font-size: 1.05rem;
    }

    p {
        font-size: 1rem;
    }
    
    ul, ol {
        font-size: 1rem; /* Nouvelle taille de police pour les listes sur les téléphones */
    }

    img {
        max-width: 100%;
    }
}
